@page "/detailed/{id:int}"

<div class="row justify-content-center">
    @if(_advert.Photos != null && _advert.Photos.Count > 0)
    {
        <div class="detailed-carousel col-12">
            <Carousel @bind-SelectedSlide="@selectedSlide" Autoplay="false">
                @foreach (var photo in _advert.Photos)
                {
                    <CarouselSlide Name="@_advert.Photos.IndexOf(photo).ToString()">
                        <div class="row justify-content-center">
                            <Image class="col-auto" Source="@photo.Source" Display="Display.Block" Style="height:50vh;"/>
                        </div>
                    </CarouselSlide>
                }
            </Carousel>
        </div>
    }



    <div class="col-12 mt-2">
        <Heading Size="HeadingSize.Is2">@_advert?.Title</Heading>
        <Heading Size="HeadingSize.Is2">@_advert?.Generation?.Model?.Brand?.Name @_advert?.Generation?.Model?.Name @_advert?.Generation?.Name</Heading>
        <Divider />
    </div>



    <div class="col-8 row justify-content-center pl-0">
        <div class="detailed-content col-12">
            <Badge Color="Color.Secondary"><Tooltip Text="Pojemność skokowa">@_advert.Displacement cm3</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Typ napędu">@_advert.DriveType</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Rodzaj paliwa">@_advert.Fuel</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Stan">@_advert.Condition</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Rok produkcji">@_advert.CarProductionDate.Year</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Przebieg">@_advert.Mileage km</Tooltip></Badge>
            <Badge Color="Color.Secondary"><Tooltip Text="Moc">@_advert.Horsepower KM</Tooltip></Badge>
            @if(!_advert.HasBeenCrashed)
            {
                <Badge class="mx-1" Color="Color.Secondary"><Tooltip Text="Niebity :D">Bezwypadkowy</Tooltip></Badge>
            }
        </div>



        <div class="detailed-content col-12 mt-2">
            <Heading Size="HeadingSize.Is2">Opis</Heading>
            <Paragraph>
                @_advert.Description
            </Paragraph>
        </div>
    </div>



    <div class="detailed-content-side col-4 row justify-content-center">
        <div class="col-12">
            <Heading Size="HeadingSize.Is2" Alignment="TextAlignment.Center">Szczegóły</Heading>
            <Addons class="my-1">
                <Addon AddonType="AddonType.Start">
                    <AddonLabel class="detailed-addon-start">Cena</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit ReadOnly="true" Color="Color.Success" Text="@_advert.Price.ToString()" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <AddonLabel>zł</AddonLabel>
                </Addon>
            </Addons>
            <Addons class="my-1">
                <Addon AddonType="AddonType.Start">
                    <AddonLabel class="detailed-addon-start">VIN</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit ReadOnly="true" Text="@(_hideVIN && !String.IsNullOrEmpty(_advert.VIN) ? $"{String.Concat(_advert.VIN.Take(3))}#####" : _advert.VIN)" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Type="ButtonType.Button" 
                        Color="Color.Secondary" 
                        @onclick="@(() => _hideVIN = !_hideVIN)">@(_hideVIN ? "Odkryj" : "Zakryj")</Button>
                </Addon>
            </Addons>
            <Addons class="my-1">
                <Addon AddonType="AddonType.Start">
                    <AddonLabel class="detailed-addon-start">Kontakt</AddonLabel>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <TextEdit ReadOnly="true" Text="@(_hidePhoneNumber && !String.IsNullOrEmpty(_advert.PhoneNumber) ? $"{String.Concat(_advert.PhoneNumber.Take(3))}#####" : _advert.PhoneNumber)" />
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Type="ButtonType.Button" 
                        Color="Color.Secondary" 
                        @onclick="@(() => _hidePhoneNumber = !_hidePhoneNumber)">@(_hidePhoneNumber ? "Odkryj" : "Zakryj")</Button>
                </Addon>
            </Addons>
        </div>



        <div class="col-12 row justify-content-left">
            @if(_advert.AdvertEquipments != null)
            {
                <Heading class="col-12 mt-2" Size="HeadingSize.Is6" Alignment="TextAlignment.Center">Wyposażenie</Heading>
                @foreach (var eq in _advert.AdvertEquipments)
                {
                    <Badge class="col-auto m-1" Color="Color.Info">@eq.Equipment?.Name</Badge>
                }
            }
        </div>
        @if(_user.Role == 'A')
        {
            <div class="col-auto my-2">
                <Button 
                    Type="ButtonType.Button" 
                    Color="Color.Warning"
                    @onclick="DeleteItem">
                    Usuń ofertę</Button>
            </div>
        }
    </div>
</div>

<style>
    .detailed-carousel {
        width: 100%;
        height: 50vh;
        background-color: lightgray;
    }

    .detailed-addon-start {
        width: 100px;
    }

    .detailed-content-side {
        min-width: 350px;
    }
</style>