<div class="row justify-content-left">
    <div class="col-12">
        <span>@Item.Generation.Model.Brand.Name @Item.Generation.Model.Name @Item.Generation.Name</span>
    </div>
    <div class="col-12">
        <span>@Item.CarProductionDate.ToString("d")</span>
    </div>
    <div class="col-12">
        <span>@Item.Mileage</span>
    </div>
    <div class="col-12">
        <span>@Item.Displacement</span>
    </div>
    <div class="col-12">
        <span>@Item.Fuel.ToString()</span>
    </div>
</div>
